.navbar{
    display: flex;
    font-size: 30px;
    width: 100%;
    margin: auto;
    justify-content: flex-end;
    height: fit-content;
}

.navitem{
    text-decoration: none;
    margin-right: 30px;
}