
.main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:auto;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	width: 70%;
	height: 70vh;
	padding: 30px 0;
	text-shadow: 1px 1px 2px white;
}
.score{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 90%;
	font-size: 25px;
	color: #e3e3e3;
	padding-bottom: 20px;
}
#head{
	color: rgb(0, 0, 0);
	padding: 10px;
	width: 90%;
	word-wrap: break-word;
	text-align: start;
}
.options{
    display: grid;
    margin: auto;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.option{
	padding: 20px;
	width: 400px;
	height:80px;
	word-break: break-all;
	border: 0;
	color: white;
	font-size: 20px;
	font-weight: 600;
	border-radius:10px;
	box-shadow: 1px 1px 2px black;
	transition-duration: 0.2s;
	text-shadow: 1px 1px black;
}
.option:hover{
	cursor: pointer;
	box-shadow: 5px 5px 10px black;
	transform: translateY(-2px);
}
.next{
	display: flex;
	justify-content: flex-end;
	padding: 0 40px 20px 0;
}
#next-btn{
	width: fit-content;
	height: fit-content;
	background-color: rgb(0, 225, 0);
	font-size: 25px;
	padding: 10px 20px;
	border: 0;
	border-radius: 10px;
	box-shadow: 1px 1px 2px black;
	transition-duration: 0.3s;
	margin: auto;
	display: flex;
}
#next-btn:hover{
	cursor: pointer;
	box-shadow: 5px 5px 10px black;
	transform: translateY(-2px);
}
